//
// _blog.scss
//

/*********************************/
/*         Blog & News           */
/*===============================*/

.blog {
    @each $name,
    $value in $colors {
        &.blog-#{$name} {
            .title {
                &:hover {
                    color: $value !important;
                }
            }
            .link {
                color: $value !important;
            }
        }
    }
}

.tagcloud {
    > a {
        background: $gray-200;
        color: $dark;
        display: inline-block;
        font-size: 9px;
        letter-spacing: 1px;
        margin: 5px 10px 5px 0;
        padding: 8px 12px 7px;
        text-transform: uppercase;
        transition: all 0.5s ease;
        font-weight: 600;
        &:hover {
            background: $primary;
            color: $white;
        }
    }
}

.widget {
    .widget-search {
        form {
            position: relative;
        }
    }
    .widget-search, .searchform { 
        input[type="text"] {
            box-shadow: none;
            padding: 12px 15px;
            height: 45px;
            font-size: 14px;
            display: block;
            width: 100%;
            outline: none !important;
            padding-right: 45px;
        }
        input[type="submit"] {
            position: absolute;
            top: 5px;
            right: 10px;
            opacity: 0;
            width: 40px;
            height: 40px;
        }
    }
    .widget-search {
        .searchform:after {
            content: "\F0349";
            position: absolute;
            font-family: "Material Design Icons";
            right: 16px;
            top: 15px;
            font-size: 20px;
            line-height: 20px;
            pointer-events: none;
        }
    }
}